body{
    background-color: #000717;
    margin: 0;
    color: #efefef;
    font-family: 'Montserrat',sans-serif;
}

.image{
    width: 15%
}

.lists{
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.lists .nav-item{
    position: relative;
}

.lists .nav-item::after{
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    top:120%;
    background: #000717;
    width: 80%;
    right: 0;
    border-radius: 5px;
    margin: 2% auto 1% auto;
    transform: scaleX(0) ;
    transition: transform 500ms ease;
}

.lists .nav-item.new:after{
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    top:90%;
    background: #000717;
    width: 80%;
    right: 0;
    border-radius: 5px;
    transform: scaleX(0) ;
    transition: transform 500ms ease;
}
.header .image:hover{ 
    transform: scale(1.2) skew(5deg, 5deg);
}

.lists a:hover{
    color: #efefef;
}
.lists .selected:hover{
    background-color: transparent;
    color: #efefef;
}
.lists .nav-item:hover:after{
    transform: scaleX(1);
}

.header{
    height: 30%;
    background-color: #da2c38;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    border-radius: 0 0 5px 5px;
    padding-right: 3%;
}

.selected{
    background-color: #000717;
    border-radius: 5px;
    padding: 2% 4% 2% 4%;
    color: #FB8B24;
}
.div-title{
    align-items: center;
    justify-items: center;
    display: flex;
}
.page-title{
    display: inline-block;
    color: #efefef;
    background-color: #264653;
    border-radius: 20px;
    padding: 2% 5% 2% 5%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 3% auto 3% auto;
    align-self: center;
    justify-self: center;
}
.select{
    background-color: #000717;
    color: #FB8B24;
    padding: 2% 4% 2% 4%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
}


.head{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
}

.categories{
 text-align: center;
 color: #efefef;
}

.cat-items{
    margin: 13% auto 13% auto;  
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 500ms ease;
}
.cat-items:hover .para{
    transform: scale(1.1) translateY(1.3%);
}

.cat-items:hover .images{
    transform: scale(1.1) translateY(10%);
}

.categories a:hover{
    color: #efefef;
}
.images{
    width: 25%;
}

.images:hover{
    animation: movetoside 2s ease-in;
}
.para h1{
    color: #da2c38;
    font-weight: 600;
    font-size: 2rem;
    width: 60%;
    text-align: center;
    align-self: center;
    margin: auto;
    padding: 1%;
}
.para{
    width: 30%;
    font-weight: 400;
    font-size: 1.3rem;
}
.categories img{
    width: 100%;
}

hr{
    width: 60%;
    background-color: #000717;
    border-radius: 5px;
    height: 5px;
    border: none;
}

.footer{
    background: hsla(29, 96%, 56%, 1);
background: linear-gradient(180deg, hsla(29, 96%, 56%, 1) 0%, hsla(44, 96%, 56%, 1) 100%);
background: -moz-linear-gradient(180deg, hsla(29, 96%, 56%, 1) 0%, hsla(44, 96%, 56%, 1) 100%);
background: -webkit-linear-gradient(180deg, hsla(29, 96%, 56%, 1) 0%, hsla(44, 96%, 56%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FB8B24", endColorstr="#FBC224", GradientType=1 );
color: #000717;
}

.foot-list{
    margin: auto;
    padding: 10% 7% 3% 7%;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-around;
    font-weight: 300;
    transition: all 500ms ease;
}

.foot-list a:hover{
    color: #efefef;
    font-weight: 600;
    transform: translateY(-20%);
}

a{
    text-decoration: none;
    color: currentColor;
}
.footer hr{
    width: 60%;
    background-color: #000717;
    border-radius: 5px;
    height: 5px;
    border: none;
    margin: auto;
}

.foot{
    display: flex;
    padding: 5% 5% 3% 5%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.foot-left{
    display: flex;
    align-content: center;
    align-items: center;
}

.foot-right{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}
